body{ 
    font-family: Arial;
    padding: 20px;
    background-color: aqua;
}
input{
    padding: 6px;
    margin-right: 10px;
}
button{
    padding: 6px 12px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 600px;
    margin-top: 20px;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th{
    background: purple;
}
.yeu{
    background: yellow;
}
#stats{
    margin-top: 10px;
    font-weight: bold;
}