body {
  font-family: Arial;
  width: 400px;
  margin: auto;
}

.step {
  display: none;
}

input {
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 13px;
}

label {
  display: block;
  margin-top: 10px;
}
input[type="radio"] {
  width: auto;
  margin-right: 5px;
}
.gender {
  display: flex;
  gap: 20px;
  margin-top: 8px 15px;
}
button {
  margin-top: 15px;
  padding: 8px 15px;
}

.progress {
  width: 100%;
  height: 8px;
  background: #ddd;
  margin-bottom: 10px;
}

#progressBar {
  height: 8px;
  width: 33%;
  background: green;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
}
