body{
font-family:Arial;
width:350px;
margin:auto;
}

input{
width:100%;
padding:6px;
margin-bottom:5px;
}

.error{
color:red;
font-size:13px;
}

#nameCount{
font-size:12px;
margin-bottom:10px;
}

.passwordBox{
position:relative;
}

#togglePass{
position:absolute;
right:10px;
top:8px;
cursor:pointer;
}

.strengthBar{
width:100%;
height:8px;
background:#ddd;
margin-top:5px;
}

#strength{
height:8px;
width:0%;
}

#strengthText{
font-size:13px;
margin-top:5px;
}